<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BunPuro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BunPuroKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CreateDatabase.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OnePassword.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>PasswordManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E3D43A2201B50E400B4D5EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EAD9DCF1FA25DF100CE52CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EAD9DE51FA25DF100CE52CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EAD9DF01FA25DF100CE52CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EAD9E071FA26EB400CE52CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
